.main {
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(241 245 249);
}

/* .footer {
  display: flex;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  font-family: 'Palette Mosaic', cursive;
} */

.image {
  width: 85%;
  height: 85%;
  margin-left: 10%;
  /* background-color: blue; */
}
.image2 {
  width: 50%;
  height: 50%;
  /* margin-left: 10%; */
  /* background-color: blue; */
}
.Home_image{
  width: 50%;
  height: 50%;
}

/* .title {
  font-size: 3rem;
  margin: 2rem 0;
  font-family: 'Palette Mosaic', cursive;
} */

.description {
  line-height: 2;
  margin: 2rem 0;
  font-size: 1.2rem;
  font-family: 'Libre Baskerville', serif;
}

.button {
  height: 45px;
  border: 0;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
  color: white;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  
  background-size: 200% 200%;
  background-image: linear-gradient(
    to right, 
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );  
  animation: gradient-animation 4s ease infinite;
  
}

/* .button4 {
  height: 45px;
  border: 0;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 0px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  
  background-size: 200% 200%;
  background-image: linear-gradient(
    to right, 
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );  
  animation: gradient-animation 4s ease infinite;
  background-color: black;  
  
} */

.button5 {
  top: 0;
  left: 0;
  transition: all .15s linear 0s;
  position: relative;
  display: inline-block;
  padding: 15px 25px;
  background-color: black;
  border-radius: 5px;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  margin-top: 0.5rem;
  box-shadow: 3px 3px 10px gray;
  text-decoration: none;
  cursor:pointer;
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
  
}

.button4 {
  top: 0;
  left: 0;
  transition: all .15s linear 0s;
  position: relative;
  display: inline-block;
  padding: 15px 25px;
  background-color: rgb(16, 71, 48);
  border-radius: 5px;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  margin-top: 0.5rem;
  box-shadow: 3px 3px 10px gray;
  text-decoration: none;
  cursor:pointer;
  font-family: 'Playfair Display', serif;
  margin-right: 1rem;
}

.button6 {
  top: 0;
  left: 0;
  transition: all .15s linear 0s;
  position: relative;
  display: inline-block;
  padding: 15px 25px;
  background-color: rgba(202, 44, 16, 0.692);
  margin-left: 1rem;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  
  box-shadow: 3px 3px 10px gray;
  text-decoration: none;
  cursor:pointer;
}

.button3 {
  height: 45px;
  border: 0;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
  color: white;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  
  /* background-size: 200% 200%; */
  background-color: black;  
  /* animation: gradient-animation 4s ease infinite; */

  /* background-size: 200% 200%;
  background-image: linear-gradient(
    to left, 
    #f7f7f7 0%,
    #e9e6e6 0%,
    #dfdfdf 21%,
    #535353 52%,
    #242323 78%,
    #000000 100%
  );  
  animation: gradient-animation 4s ease infinite; */
  
  
}




.button2 {
  padding: 1.5em 5em;
  /* border-radius: 4px; */
  background: #efefef;
  border: none; 
  border-radius: .5rem;
  color: #444;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  margin-right: 2%;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  outline: none;
  cursor: pointer;
  transition: .2s ease-in-out;
  box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
              -6px -6px 10px rgba(255, 255, 255, .5),
              6px 6px 8px rgba(255, 255, 255, .075),
              6px 6px 10px rgba(0, 0, 0, .15);
}

/* .button2 {
  
  letter-spacing: .2rem;
  
} */

.button2:hover {
  box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
              -2px -2px 4px rgba(255, 255, 255, .4),
              2px 2px 2px rgba(255, 255, 255, .05),
              2px 2px 4px rgba(0, 0, 0, .1);
}
.button2:active {
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
              inset -2px -2px 4px rgba(255, 255, 255, .5),
              inset 2px 2px 2px rgba(255, 255, 255, .075),
              inset 2px 2px 4px rgba(0, 0, 0, .15);
}


.proposalCard {
  position: relative;
  padding: 1.5em 5em;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
  background: #ffffff;
  box-shadow: 20px 20px rgba(0,0,0,.20);
  transition: all .4s ease;

}


.proposalCard:hover {
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
  box-shadow: 10px 10px rgba(0,0,0,.25);
}

/* .proposalGrid{
  margin-top: 4rem;
  display: flex;
  flex-direction: column; 
  position: relative;
  /* justify-self: center;
 align-self: center; }*/

.container {
  margin-top: 2rem;
}

.flex {
  flex: 1;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  .main {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* KeyFrames */
@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}